# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [5]:
# YOUR CODE HERE
df.loc['f', 'age'] = 1.5

In [ ]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [6]:
# YOUR CODE HERE
df.sort_values(by='age', ascending=False).sort_values(by='visits')

  animal  age  visits priority
g  snake  4.5       1       no
j    dog  3.0       1       no
a    cat  2.5       1      yes
h    cat  NaN       1      yes
i    dog  7.0       2       no
e    dog  5.0       2       no
c  snake  0.5       2       no
b    cat  3.0       3      yes
f    cat  1.5       3       no
d    dog  NaN       3      yes

In [ ]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [7]:
# YOUR CODE HERE
def subtract_mean(n, m):
    df = pd.DataFrame(np.random.random(size =(n, m)))
    df['mean'] = df.mean(axis=1)
    print(df)
    for i in range(n):
        for k in range(m):
            df.loc[i, k] = df.loc[i, k] - df.loc[i, 'mean']
    return df.loc[0:n-1,0:m-1]

subtract_mean(5, 3)

          0         1         2      mean
0  0.480229  0.668852  0.962561  0.703881
1  0.578603  0.005946  0.188681  0.257743
2  0.342187  0.199454  0.575889  0.372510
3  0.222813  0.296717  0.932024  0.483851
4  0.137718  0.322034  0.585549  0.348434

          0         1         2
0 -0.223652 -0.035029  0.258680
1  0.320859 -0.251797 -0.069062
2 -0.030323 -0.173056  0.203379
3 -0.261038 -0.187134  0.448172
4 -0.210716 -0.026400  0.237116

In [ ]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [8]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df_sums = df.sum(0)
df_sums[df_sums == df_sums.min()].index

Index(['f'], dtype='object')

In [ ]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
def null_counter(data):
    df = pd.DataFrame(data)
    column_lab = []
    df = df.fillna(0)
    for i in df.index:
        n = 0
        for k in df.loc[i].index:
            if df.loc[i,k] == 0:
                n += 1
            if n == 3:
                column_lab.append(k)
                break
    print(column_lab)
    return

data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}

null_counter(data)

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
def largest_of_group(g, v, n):
    df = pd.DataFrame({'grps': g,
                       'vals': v})
    unique_groups = []
    for i in g:
        if i not in unique_groups:
            unique_groups.append(i)
        else:
            continue
    for k in unique_groups:
        df_k = df.loc[(df.grps == k)].sort_values(by='vals', ascending=False)
        print(df_k.head(n).sum())
    return

largest_of_group(list('aaabbcaabcccbbc'), [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87], 3)

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345