In [1]:
import pandas as pd

## Series

In [2]:
pd.Series([4, 6, -5, 3])

0    4
1    6
2   -5
3    3
dtype: int64

In [5]:
pd.Series([4, 6, -5, 3], index=['x1', 'x2', 'y1', 'y2'])

x1    4
x2    6
y1   -5
y2    3
dtype: int64

In [8]:
bounding_box = pd.Series([4, 6, -5, 3], index=['x1', 'x2', 'y1', 'y2'])
print(bounding_box['x1'])
bounding_box[['x1', 'y1']]

4

x1    4
y1   -5
dtype: int64

In [9]:
bounding_box / bounding_box.sum()

x1    0.500
x2    0.750
y1   -0.625
y2    0.375
dtype: float64

In [4]:
missing_data = pd.Series([4, 6, -5, None], index=['x1', 'x2', 'y1', 'y2'])

pd.isnull(missing_data)

x1    False
x2    False
y1    False
y2     True
dtype: bool

## DataFrame

In [13]:
data = {
    'name': ['Maria', 'Carla', 'Juan', 'Ana', 'Sergio'],
    'age': [15, 33, 12, 21, 45],
    'gender': [True, True, False, True, False]
}

pd.DataFrame(data)

     name  age  gender
0   Maria   15    True
1   Carla   33    True
2    Juan   12   False
3     Ana   21    True
4  Sergio   45   False

In [7]:
df = pd.DataFrame({"Data1": [10, 20, 30], "Data2": [40, 50, 60]})
print(df)
norm_df = (df - df.min())/(df.max()-df.min())
print(norm_df)

   Data1  Data2
0     10     40
1     20     50
2     30     60
   Data1  Data2
0    0.0    0.0
1    0.5    0.5
2    1.0    1.0

## Read from csv

In [10]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None, usecols=[0])
norm_df = (df - df.min())/(df.max()-df.min())
print(norm_df)

              0
0      0.301370
1      0.452055
2      0.287671
3      0.493151
4      0.150685
...         ...
32556  0.136986
32557  0.315068
32558  0.561644
32559  0.068493
32560  0.479452

[32561 rows x 1 columns]

## Index

In [16]:
df = pd.DataFrame(data)
df.index

RangeIndex(start=0, stop=5, step=1)

In [21]:
df = pd.DataFrame(data)
df.index = ['m','c','j','a','s']
df

     name  age  gender
m   Maria   15    True
c   Carla   33    True
j    Juan   12   False
a     Ana   21    True
s  Sergio   45   False

## Indexing

In [16]:
a = pd.DataFrame(data, index=['m','c','j','a','s'])

a.loc['m'] == a.iloc[0]

name      True
age       True
gender    True
Name: m, dtype: bool

In [23]:
a.loc['m':'c']

    name  age  gender
m  Maria   15    True
c  Carla   33    True

## Dropping

In [24]:
df.drop('name', axis=1)

   age  gender
m   15    True
c   33    True
j   12   False
a   21    True
s   45   False

In [25]:
a.drop(['m', 'c'])

     name  age  gender
j    Juan   12   False
a     Ana   21    True
s  Sergio   45   False

## Duplicates

In [27]:
df = pd.DataFrame({'f1': [1, 2, 2, 1], 'f2': [0, 1, 1, 1]})
print(df)
df.drop_duplicates()

   f1  f2
0   1   0
1   2   1
2   2   1
3   1   1

   f1  f2
0   1   0
1   2   1
3   1   1

## Filtering

In [18]:
df = pd.DataFrame(data, index=['m','c','j','a','s'])
df[df.age <= 35]

    name  age  gender
m  Maria   15    True
c  Carla   33    True
j   Juan   12   False
a    Ana   21    True

## Custom element-wise operations

In [21]:
df['gender'] = df['gender'].apply(lambda x: not x)
df

print(df['gender'])

m    False
c    False
j     True
a    False
s     True
Name: gender, dtype: bool

## Sorting

In [26]:
a = pd.DataFrame(data, index=['m','c','j','a','s'])
a.sort_values('age')

     name  age  gender
j    Juan   12   False
m   Maria   15    True
a     Ana   21    True
c   Carla   33    True
s  Sergio   45   False

## Statistics

In [27]:
df.describe()

             age
count   5.000000
mean   25.200000
std    13.682105
min    12.000000
25%    15.000000
50%    21.000000
75%    33.000000
max    45.000000

## Counts

In [35]:
df['gender'].value_counts()

True     3
False    2
Name: gender, dtype: int64